:root {
  --white-color: #ffffff;
  --primary-color: #00cc99;
  --secondary-color: #0066cc;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #0066cc;
  --custom-btn-bg-hover-color: #00cc99;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #0066cc;
  --custom-btn-bg-hover-color-shadow: #0cf5bb7c;

  --body-font-family: "Montserrat", sans-serif;
  --title-font-family: "Sono", sans-serif;

  --h1-font-size: 58px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 16px;
  --menu-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  background: var(--white-color) !important;
  width: 30px !important;
  height: 2px !important;
  content: "" !important;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px !important;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px !important;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondary-color) !important;
}

.dropdown-item:active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  color: var(--secondary-color) !important;
}

.custom-btn:hover {
  background: var(--white-color) !important;
  color: var(--custom-btn-bg-color) !important;
  box-shadow: var(--custom-btn-bg-hover-color-shadow) 0 8px 15px !important;
  transform: translateY(-2px) !important;
}
