.site-footer {
  background-image: url("src/assets/templatemo-wave-footer.jpg"),
    linear-gradient(#ffffff, #348cd2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.site-footer > .container {
  position: relative;
  top: 50px;
  padding-top: 100px;
}

.site-footer-title,
.site-footer p {
  color: var(--white-color);
}

.site-footer p strong {
  font-family: var(--title-font-family);
}

.site-footer p a {
  color: var(--white-color);
  border-bottom: 1px solid;
  padding-bottom: 3px;
}

.site-footer p a:hover {
  color: var(--secondary-color);
}

.site-footer-thumb a img {
  display: block;
  width: 120px;
  min-width: 120px;
  height: auto;
}

.site-footer-links {
  margin-bottom: 0;
  padding-left: 0;
}

.site-footer-link-item {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
  margin-left: 10px;
}

.site-footer-link {
  color: var(--white-color);
  font-size: var(--p-font-size);
  line-height: inherit;
}

.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.subscribe-form-wrap {
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-small);
  width: 80%;
  position: relative;
  top: 12px;
  padding: 35px;
}

.subscribe-form-wrap h6 {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  color: var(--primary-color);
  text-align: center;
  position: relative;
  bottom: 55px;
  margin-bottom: -25px;
  padding: 8px;
}

.subscribe-form #subscribe-email {
  border: 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}

.subscribe-form #submit {
  border-radius: 0 0 10px 10px;
}
